In [1]:
#import libraries
import pandas as pd
import numpy as np
import tabula
import camelot

In [5]:
elk_df = pd.read_excel('data/Elk captures 21-22.xlsx')
bison_df = pd.read_excel('data/Bison_2021_22_Sample sheet.xlsx')

In [3]:
elk_df.head()

,BloodSample,Archive #,CollarCode,Species,Sex,CaptureDate,CaptureUnitName,StagingArea,Age,Unnamed: 9
0,BCE1132,EL21-137,51628.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,23.5,NaN
1,BCE1134,EL21-138,46687.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,19.5,NaN
2,BCE1135,EL21-139,46752.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,10.5,NaN
3,BCE1136,EL21-140,51622.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,13.5,NaN
4,BCE1138,EL21-141,46700.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,22.5,NaN

In [4]:
elk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   BloodSample      148 non-null    object
 1   Archive #        45 non-null     object
 2   CollarCode       146 non-null    float64
 3   Species          146 non-null    object
 4   Sex              146 non-null    object
 5   CaptureDate      146 non-null    datetime64[ns]
 6   CaptureUnitName  146 non-null    object
 7   StagingArea      136 non-null    object
 8   Age              145 non-null    float64
 9   Unnamed: 9       9 non-null      object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 11.7+ KB

In [6]:
bison_df.head()

,BloodSample,Archive Number,Species,Sex,CaptureDate,CaptureUnitName,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,BCB1101,BIS21-018,Bison,Female,2022-02-27,Book Cliffs,NaN,Testing:,Bluetongue,Serum
1,BCB1102,BIS21-019,Bison,Female,2022-02-26,Book Cliffs,NaN,NaN,EHD,Serum
2,BCB1103,BIS21-020,Bison,Female,2022-02-27,Book Cliffs,NaN,NaN,"BVD- 1,2",Serum
3,BCB1104,BIS21-021,Bison,Female,2022-02-26,Book Cliffs,NaN,NaN,Pregnancy,Serum
4,BCB1105,BIS21-022,Bison,Male,2022-02-26,Book Cliffs,NaN,NaN,NaN,NaN

In [12]:
elk_df.Sex.value_counts()

Sex
Female    144
Male        2
Name: count, dtype: int64