# ETL notebook for moose lab results

In [1]:
#import libraries
import pandas as pd
import numpy as np
import re

#import functions
from functions import get_sample_id
from functions import panda_stripper

## Extract and transform main table

In [2]:
#read excel table and strip
moose_table = pd.read_excel('data/Moose_2021_22_Sample sheet.xlsx', skiprows=range(6,11))
moose_table = panda_stripper(moose_table)

#rename cols
moose_table.columns = ['sample_id', 'collar_id', 'species', 'sex', 'capture_date', 'capture_unit', 'staging_area']

In [3]:
moose_table

,sample_id,collar_id,species,sex,capture_date,capture_unit,staging_area
0,PAR1111,50888,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir
1,PAR1112,50891,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir
2,PAR1113,50892,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir
3,PAR1114,50890,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir
4,PAR1115,50889,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir

### Pregnancy

In [4]:
#read and stip table
preg_df = pd.read_excel('data/moose_tables.xlsx', sheet_name='pregnant', usecols=[1,2,3])
preg_df = panda_stripper(preg_df)

#rename cols
preg_df.columns = ['sample_id', 'preg_OD_val', 'preg_result']

#merge with main table
moose_table = moose_table.merge(preg_df, on='sample_id', how='outer')

### Bluetongue

In [5]:
#read and strip table
bluetongue_df = pd.read_excel('data/moose_tables.xlsx', sheet_name='bluetongue') 
bluetongue_df = panda_stripper(bluetongue_df)

#get sample ids and drop original col
bluetongue_df = get_sample_id(bluetongue_df, 'Specimen')
del bluetongue_df['Specimen']

#rename cols 
bluetongue_df.columns = ['bluetongue_result', 'sample_id']

#merge with main table
moose_table = moose_table.merge(bluetongue_df, on='sample_id', how='outer')

## Load

### Export to excel for office use

In [6]:
moose_table.to_excel('data/finals/Moose 2021-2022 Lab Results.xlsx', index=False)