# A Look at Wildlife Diseases in Utah

This notebook analyses wildlife disease data from Utah DWR captures in the 2021-2022 fall/winter capture season. Please see [the github repo](https://github.com/epistemetrica/utah_dwr_python) for more info. 

## Project Description

Each observation in our dataset includes big game animal species, capture date and location, sex, pregnancy status, and the results of various disease-related lab tests.

### Key tasks:
1. Prepare the data for analysis 
2. Explore and visualize the dataset
3. Analyze the data to understand:
    - the prevelance of key diseases among wildlife in Utah
    - whether this data allows us to accurately predict disease states for new captures

In [32]:
#import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

## Data Processing

Lab results and DWR capture data were loaded into a SQLite db via the wildlife_ETL.py pipeline.

In [33]:
#load db
engine = create_engine('sqlite:///data/wildlife.db')

#load dfs
bison_df = pd.read_sql_table(con=engine, table_name='bison_table')
deer_df = pd.read_sql_table(con=engine, table_name='deer_table')
elk_df = pd.read_sql_table(con=engine, table_name='elk_table')
moose_df = pd.read_sql_table(con=engine, table_name='moose_table')
pronghorn_df = pd.read_sql_table(con=engine, table_name='pronghorn_table')
sheep_goat_df = pd.read_sql_table(con=engine, table_name='sheep_goat_table')

Let's take a look at the data:

In [34]:
display(bison_df.head())
bison_df.info()

,sample_id,archive_id,species,sex,capture_date,capture_unit,bvd_type1_result,bvd_type2_result,ehdv_result,preg_val,preg_result,bluetongue_result
0,BCB1101,BIS21-018,Bison,Female,2022-02-27,Book Cliffs,Negative,Negative,Positive,0.091,Not pregnant,Detected
1,BCB1102,BIS21-019,Bison,Female,2022-02-26,Book Cliffs,Negative,Negative,Negative,0.749,Pregnant,Not detected
2,BCB1103,BIS21-020,Bison,Female,2022-02-27,Book Cliffs,Negative,Negative,Negative,0.091,Not pregnant,Not detected
3,BCB1104,BIS21-021,Bison,Female,2022-02-26,Book Cliffs,Negative,Negative,Negative,0.718,Pregnant,Not detected
4,BCB1105,BIS21-022,Bison,Male,2022-02-26,Book Cliffs,Negative,Negative,Negative,0.089,Not pregnant,Not detected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          35 non-null     object
 1   archive_id         15 non-null     object
 2   species            33 non-null     object
 3   sex                33 non-null     object
 4   capture_date       33 non-null     datetime64[ns]
 5   capture_unit       33 non-null     object
 6   bvd_type1_result   34 non-null     object
 7   bvd_type2_result   34 non-null     object
 8   ehdv_result        34 non-null     object
 9   preg_val           34 non-null     float64
 10  preg_result        34 non-null     object
 11  bluetongue_result  34 non-null     object
dtypes: datetime64[ns](1), float64(1), object(10)
memory usage: 3.4+ KB

In [35]:
display(deer_df.head())
deer_df.info()

,sample_id,collar_id,species,sex,capture_date,capture_unit,adenovirus_result,ehdv_result,bluetongue_result
0,BC1101,50713.0,Mule Deer,Female,2021-12-11,Book Cliffs,>=1:4096,Negative,Not detected
1,BC1102,50716.0,Mule Deer,Female,2021-12-11,Book Cliffs,1:16,Negative,Not detected
2,BC1103,50714.0,Mule Deer,Female,2021-12-11,Book Cliffs,1:8,Positive,Detected
3,BC1104,50720.0,Mule Deer,Female,2021-12-11,Book Cliffs,>=1:4096,Negative,Not detected
4,BC1105,50722.0,Mule Deer,Male,2021-12-11,Book Cliffs,>=1:4096,Negative,Not detected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 339 entries, 0 to 338
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          339 non-null    object
 1   collar_id          333 non-null    float64
 2   species            333 non-null    object
 3   sex                333 non-null    object
 4   capture_date       333 non-null    datetime64[ns]
 5   capture_unit       333 non-null    object
 6   adenovirus_result  336 non-null    object
 7   ehdv_result        336 non-null    object
 8   bluetongue_result  335 non-null    object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 24.0+ KB

In [36]:
display(elk_df.head())
elk_df.info()

,sample_id,archive_id,collar_id,species,sex,capture_date,capture_unit,staging_area,age,comments,ehdv_type1_result,ehdv_type1_val,ehdv_type2_result,ehdv_type2_val,ehdv_type6_result,ehdv_type6_val,bvd_result,preg_val,preg_result,bluetongue_result
0,BCE1132,EL21-137,51628.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,23.5,None,Negative,<20,Positve,>1280,Negative,<20,Negative,0.660,Pregnant,Detected
1,BCE1134,EL21-138,46687.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,19.5,None,Negative,<20,Negative,<20,Negative,<20,Negative,0.649,Pregnant,Detected
2,BCE1135,EL21-139,46752.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,10.5,None,Negative,<20,Positive,40,Negative,<20,Negative,0.087,Open,Not detected
3,BCE1136,EL21-140,51622.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,13.5,None,Negative,<20,Negative,<20,Negative,<20,Negative,0.621,Pregnant,Not detected
4,BCE1138,EL21-141,46700.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,22.5,None,Negative,<20,Negative,<20,Negative,<20,Negative,0.612,Pregnant,Not detected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          148 non-null    object
 1   archive_id         45 non-null     object
 2   collar_id          146 non-null    float64
 3   species            146 non-null    object
 4   sex                146 non-null    object
 5   capture_date       146 non-null    datetime64[ns]
 6   capture_unit       146 non-null    object
 7   staging_area       136 non-null    object
 8   age                145 non-null    float64
 9   comments           9 non-null      object
 10  ehdv_type1_result  145 non-null    object
 11  ehdv_type1_val     145 non-null    object
 12  ehdv_type2_result  145 non-null    object
 13  ehdv_type2_val     145 non-null    object
 14  ehdv_type6_result  145 non-null    object
 15  ehdv_type6_val     145 non-null    object
 16  bvd_result         145 non-null    object
 17  preg_val           142 non-null    float64
 18  preg_result        142 non-null    object
 19  bluetongue_result  145 non-null    object
dtypes: datetime64[ns](1), float64(3), object(16)
memory usage: 23.3+ KB

In [37]:
display(moose_df.head())
moose_df.info()

,sample_id,collar_id,species,sex,capture_date,capture_unit,staging_area,preg_val,preg_result,bluetongue_result
0,PAR1111,50888,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir,0.105,Open,Not detected
1,PAR1112,50891,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir,1.165,Pregnant,Not detected
2,PAR1113,50892,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir,1.180,Pregnant,Not detected
3,PAR1114,50890,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir,1.202,Pregnant,Not detected
4,PAR1115,50889,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir,1.177,Pregnant,Not detected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          5 non-null      object
 1   collar_id          5 non-null      int64
 2   species            5 non-null      object
 3   sex                5 non-null      object
 4   capture_date       5 non-null      datetime64[ns]
 5   capture_unit       5 non-null      object
 6   staging_area       5 non-null      object
 7   preg_val           5 non-null      float64
 8   preg_result        5 non-null      object
 9   bluetongue_result  5 non-null      object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 532.0+ bytes

In [38]:
display(pronghorn_df.head())
pronghorn_df.info()

,sample_id,archive_id,collar_id,species,sex,capture_date,capture_unit,staging_area,bluetongue_result
0,BCP1101,PH21-001,50770.0,Pronghorn,Female,2021-12-01,Book Cliffs,Danish Flat,Detected
1,BCP1102,PH21-002,50776.0,Pronghorn,Female,2021-12-01,Book Cliffs,Danish Flat,None
2,BCP1103,PH21-003,50769.0,Pronghorn,Female,2021-12-01,Book Cliffs,Danish Flat,Detected
3,BCP1104,PH21-015,50768.0,Pronghorn,Male,2021-12-01,Book Cliffs,Danish Flat,Detected
4,BCP1105,PH21-004,50774.0,Pronghorn,Female,2021-12-01,Book Cliffs,Danish Flat,Detected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          113 non-null    object
 1   archive_id         15 non-null     object
 2   collar_id          83 non-null     float64
 3   species            108 non-null    object
 4   sex                83 non-null     object
 5   capture_date       108 non-null    datetime64[ns]
 6   capture_unit       108 non-null    object
 7   staging_area       50 non-null     object
 8   bluetongue_result  110 non-null    object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 8.1+ KB

In [39]:
display(sheep_goat_df.head())
sheep_goat_df.info()

,sample_id,collar_id,species,sex,capture_date,capture_unit,staging_area,comments,movi_elisa_val,movi_elisa_result,movi_pcr_result,lentivirus_val,lentivirus_result,ehdv_val,ehdv_result,bluetongue_result,leukotoxin_lktA_result,tonsular_culture_result,tonsular_culture_isolate
0,SRS1101,50750.0,Bighorn Sheep,Female,2021-12-03,North San Rafael,Swinging Bridge,2 tonsillar swabs and 2 nasal swabs (SRS1101),80.903,Detected,Not detected,1.366,Negative,103.562,Negative,Negative,Not detected,No Pasteurella isolated.,None
1,SRS1102,50744.0,Bighorn Sheep,Female,2021-12-04,North San Rafael,Swinging Bridge,2 tonsillar swabs and 2 nasal swabs (SRS1102),61.281,Detected,Not detected,0.936,Negative,39.983,Indeterminate,Positive,Not detected,No Pasteurella isolated.,None
2,SRS1103,50749.0,Bighorn Sheep,Female,2021-12-03,North San Rafael,Swinging Bridge,"Short blood, veins flat, worried about heat. 2...",90.380,Detected,Detected,3.908,Negative,65.718,Negative,Positive,Not detected,No Pasteurella isolated.,None
3,SRS1104,50758.0,Bighorn Sheep,Female,2021-12-04,North San Rafael,Swinging Bridge,2 tonsillar swabs and 2 nasal swabs (SRS1104),72.088,Detected,None,2.541,Negative,61.098,Negative,Positive,None,None,None
4,SRS1105,50752.0,Bighorn Sheep,Female,2021-12-03,North San Rafael,Swinging Bridge,"Recapture. Old collar: 75535, 148.307. 2 tonsi...",74.081,Detected,Not detected,5.923,Negative,78.161,Negative,Negative,Not detected,No Pasteurella isolated.,None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sample_id                 71 non-null     object
 1   collar_id                 57 non-null     float64
 2   species                   62 non-null     object
 3   sex                       58 non-null     object
 4   capture_date              60 non-null     datetime64[ns]
 5   capture_unit              60 non-null     object
 6   staging_area              10 non-null     object
 7   comments                  16 non-null     object
 8   movi_elisa_val            71 non-null     float64
 9   movi_elisa_result         71 non-null     object
 10  movi_pcr_result           59 non-null     object
 11  lentivirus_val            71 non-null     float64
 12  lentivirus_result         71 non-null     object
 13  ehdv_val                  71 non-null     float64
 14  ehdv_result               71 non-null     object
 15  bluetongue_result         70 non-null     object
 16  leukotoxin_lktA_result    58 non-null     object
 17  tonsular_culture_result   57 non-null     object
 18  tonsular_culture_isolate  5 non-null      object
dtypes: datetime64[ns](1), float64(4), object(14)
memory usage: 10.7+ KB

In [40]:
#concat dfs
species_dfs = [bison_df, deer_df, elk_df, pronghorn_df, sheep_goat_df]
df = pd.concat(species_dfs)

### Drop unnecessary columns and rows

Many of the lab results in the database are not relevant to this project. For example, if the animal is pregnant, the exact value of the pregnancy test does not matter here. And as noted in the *definitions.md* file, columns like 'archive_id' are not useful for this project. 

There are also a handful of entries that do not have any associated lab results, as noted by the DWR Office's comments in the original spreadsheets. These rows are dropped.

In [41]:
#drop columns not relevant to this project
df = df.drop(columns=['archive_id', 'preg_val', 'collar_id', 'ehdv_type1_val', 'ehdv_type2_val', 'ehdv_type6_val', 'movi_elisa_val', 'lentivirus_val', 'ehdv_val', 'tonsular_culture_isolate'])

#drop known duplicates and animals with missing samples.
comments_to_drop = ['*Double number, one sample', '*No record', '*missing sample']
df = df.drop(df[df.comments.isin(comments_to_drop)].index)

As a means of inspecting the data, let's look at the various values contained within each column:

In [42]:
for col in df.columns:
    print('The {} column has the following value counts: \n {} \n'.format(col, df[col].value_counts()))

The sample_id column has the following value counts:
 sample_id
WM1101      2
UG1121      2
WM1104      2
WM1105      2
WM1106      2
           ..
OS1103      1
OS1104      1
OS1105      1
OS1106      1
BH21-010    1
Name: count, Length: 673, dtype: int64

The species column has the following value counts:
 species
Mule Deer        326
Elk              141
Pronghorn        104
Mt Goat           47
Bison             32
Bighorn Sheep     13
Name: count, dtype: int64

The sex column has the following value counts:
 sex
Female    555
Male       79
Name: count, dtype: int64

The capture_date column has the following value counts:
 capture_date
2022-02-06    31
2021-12-20    31
2021-12-11    30
2021-12-10    30
2021-12-18    29
2021-12-01    29
2022-02-05    26
2022-02-24    25
2022-02-28    25
2021-11-23    24
2021-12-12    24
2021-12-13    24
2021-12-05    24
2021-11-29    24
2021-12-16    23
2021-11-30    23
2021-12-14    20
2021-11-21    19
2021-11-22    18
2022-02-27    16
2021-12-04    15
2022-02-07    15
2021-12-07    15
2021-12-17    11
2022-03-07    11
2022-02-03    11
2022-02-19    11
2021-12-06    10
2021-12-19    10
2021-12-02    10
2022-03-06    10
2021-12-03     8
2022-02-26     8
2022-03-08     7
2022-02-04     6
2021-12-08     5
2022-06-08     2
2022-04-25     1
Name: count, dtype: int64

The capture_unit column has the following value counts:
 capture_unit
Book Cliffs             105
Morgan South Rich        60
Box Elder                59
Southwest Desert         31
Pine Valley              30
Uintah                   29
Cache                    27
Chalk Creek              27
Vernal Translocation     25
La Sal                   22
Nebo                     22
Wasatch East             20
Oquirrh Stansbury        20
Wasatch                  19
San Juan                 19
Beaver                   19
South Slope              18
Monroe                   18
Henry Mountains          16
Wasatch-Manti            15
Eagle Mountain           14
Parley's Summit          10
North San Rafael         10
Manti                     9
Tintic                    8
Willard                   5
LH Rock                   2
Kaiparowits               1
Zion                      1
Name: count, dtype: int64

The bvd_type1_result column has the following value counts:
 bvd_type1_result
Negative    33
Name: count, dtype: int64

The bvd_type2_result column has the following value counts:
 bvd_type2_result
Negative    33
Name: count, dtype: int64

The ehdv_result column has the following value counts:
 ehdv_result
Negative         339
Positive          70
Weak Positive     16
POSITIVE           4
Indeterminate      1
Name: count, dtype: int64

The preg_result column has the following value counts:
 preg_result
Pregnant        131
Not pregnant     19
Open             19
Recheck           1
Name: count, dtype: int64

The bluetongue_result column has the following value counts:
 bluetongue_result
Not detected    410
Detected        194
Negative         55
Positive         12
Not tested        1
Name: count, dtype: int64

The adenovirus_result column has the following value counts:
 adenovirus_result
>=1:4096    67
1:8         62
1:16        60
1:32        37
1:64        19
1:1024      17
1:512       17
1:256       12
Negative    11
1:4         11
1:128       11
1:2048       5
Name: count, dtype: int64

The staging_area column has the following value counts:
 staging_area
Monument                 16
Echo Junction            16
Locomotive               15
Danish Flat              15
Allen's Ranch            14
Hogups                   14
Bryson Canyon            11
McCoy                    10
Strawberry               10
Durst                    10
Swinging Bridge          10
South Fork                9
Hennefer Echo WMA         8
Ensign                    8
Reservoir                 7
Little Dell Reservoir     5
Heiner                    5
Willow Creek Overlook     5
Book Cliffs               1
Name: count, dtype: int64

The age column has the following value counts:
 age
4.5     20
3.5     17
5.5     12
1.5      8
12.5     7
2.5      6
8.5      6
10.5     6
7.5      6
13.5     6
6.5      6
11.5     6
19.5     5
14.5     4
15.5     4
16.5     3
20.5     3
24.5     2
23.5     2
17.5     2
18.5     2
21.5     2
9.5      2
25.5     1
26.5     1
22.5     1
Name: count, dtype: int64

The comments column has the following value counts:
 comments
*                                                                                             2
same ID, diff. animal                                                                         2
2 tonsillar swabs and 2 nasal swabs (SRS1101)                                                 1
2 tonsillar swabs and 2 nasal swabs (SRS1102)                                                 1
Short blood, veins flat, worried about heat. 2 tonsillar swabs and 2 nasal swabs (SRS1103)    1
2 tonsillar swabs and 2 nasal swabs (SRS1104)                                                 1
Recapture. Old collar: 75535, 148.307. 2 tonsillar swabs and 2 nasal swabs (SRS1105)          1
Could be 3.5. 2 tonsillar swabs and 2 nasal swabs (SRS1106)                                   1
Small fecal. 2 tonsillar swabs and 2 nasal swabs (SRS1107)                                    1
2 nasal swabs, but it bit the tonsil sample off                                               1
2 tonsillar swabs and 2 nasal swabs (SRS1109)                                                 1
2 tonsillar swabs and 2 nasal swabs (SRS1110)                                                 1
1 nasal swab, 1 serum                                                                         1
1 nasal swab, 2 tonsilar swab, serum                                                          1
no swab                                                                                       1
May be labeled WG1101 on tube                                                                 1
Name: count, dtype: int64

The ehdv_type1_result column has the following value counts:
 ehdv_type1_result
Negative    124
Positive     16
Name: count, dtype: int64

The ehdv_type2_result column has the following value counts:
 ehdv_type2_result
Negative    105
Positive     34
Positve       1
Name: count, dtype: int64

The ehdv_type6_result column has the following value counts:
 ehdv_type6_result
Negative    138
Positive      2
Name: count, dtype: int64

The bvd_result column has the following value counts:
 bvd_result
Negative    140
Name: count, dtype: int64

The movi_elisa_result column has the following value counts:
 movi_elisa_result
Not detected     32
Detected         31
Indeterminate     5
Name: count, dtype: int64

The movi_pcr_result column has the following value counts:
 movi_pcr_result
Not detected     53
Detected          3
Indeterminate     1
Name: count, dtype: int64

The lentivirus_result column has the following value counts:
 lentivirus_result
Negative    68
Name: count, dtype: int64

The leukotoxin_lktA_result column has the following value counts:
 leukotoxin_lktA_result
Not detected    52
Detected         4
Name: count, dtype: int64

The tonsular_culture_result column has the following value counts:
 tonsular_culture_result
No Pasteurella isolated.    48
No growth.                   2
Moderate                     2
Few                          2
Many                         1
Name: count, dtype: int64

Two things jump out: 
1. There should not be more than one instance of any given sample_id. 
    - Repeated sample_ids appear in the original data provided by the DWR; the reasons for this duplication are under investigation. For now, I will drop the duplicated ids.
2. The columns that report bovine viral diarrhea and lentivirus are entirely negative, meaning those diseases are abscent from the database. We can drop those columns entirely.

In [43]:
#drop duplicate sample_ids
#df = df.drop_duplicates(subset='sample_id')

#drop variables with all-negative results
df = df.drop(columns=['bvd_type1_result', 'bvd_type2_result', 'bvd_result', 'lentivirus_result'])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 684 entries, 0 to 70
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sample_id                684 non-null    object
 1   species                  663 non-null    object
 2   sex                      634 non-null    object
 3   capture_date             661 non-null    datetime64[ns]
 4   capture_unit             661 non-null    object
 5   ehdv_result              430 non-null    object
 6   preg_result              170 non-null    object
 7   bluetongue_result        672 non-null    object
 8   adenovirus_result        329 non-null    object
 9   staging_area             189 non-null    object
 10  age                      140 non-null    float64
 11  comments                 18 non-null     object
 12  ehdv_type1_result        140 non-null    object
 13  ehdv_type2_result        140 non-null    object
 14  ehdv_type6_result        140 non-null    object
 15  movi_elisa_result        68 non-null     object
 16  movi_pcr_result          57 non-null     object
 17  leukotoxin_lktA_result   56 non-null     object
 18  tonsular_culture_result  55 non-null     object
dtypes: datetime64[ns](1), float64(1), object(17)
memory usage: 106.9+ KB

### Data Types

Before addressing the structural concerns, let's clean up the data types. To ease analysis later on, variables are encoded as binary values wherever possible (e.g., 'sex' with values of 'Female' and 'Male' becomes 'female' with values of 1 or 0).

In [45]:
#encode sex as boolean 'female'
df['female'] = df.sex.apply(lambda row: 1 if row == 'Female' else 0)
del df['sex']

#set test results to 1/0
df.ehdv_result = df.ehdv_result.apply(lambda row: 1 if row in ['POSITIVE', 'Weak Positive', 'Positive'] else 0)
df.preg_result = df.preg_result.apply(lambda row: 1 if row == 'Pregnant' else 0)
df.bluetongue_result = df.bluetongue_result.apply(lambda row: 1 if row in ['Detected', 'Positive'] else 0)
df.ehdv_type1_result = df.ehdv_type1_result.apply(lambda row: 1 if row == 'Positive' else 0)
df.ehdv_type2_result = df.ehdv_type2_result.apply(lambda row: 1 if row in ['Positive', 'Positve'] else 0)
df.ehdv_type6_result = df.ehdv_type6_result.apply(lambda row: 1 if row == 'Positive' else 0)
df.movi_elisa_result = df.movi_elisa_result.apply(lambda row: 1 if row == 'Detected' else 0)
df.movi_pcr_result = df.movi_pcr_result.apply(lambda row: 1 if row == 'Detected' else 0)
df.leukotoxin_lktA_result = df.leukotoxin_lktA_result.apply(lambda row: 1 if row == 'Detected' else 0)
#df.tonsular_culture_result - waiting on info from vet

In [50]:
df[df.species == 'Elk'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 0 to 147
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   sample_id                141 non-null    object
 1   species                  141 non-null    object
 2   capture_date             141 non-null    datetime64[ns]
 3   capture_unit             141 non-null    object
 4   ehdv_result              141 non-null    int64
 5   preg_result              141 non-null    int64
 6   bluetongue_result        141 non-null    int64
 7   adenovirus_result        0 non-null      object
 8   staging_area             131 non-null    object
 9   age                      140 non-null    float64
 10  comments                 2 non-null      object
 11  ehdv_type1_result        141 non-null    int64
 12  ehdv_type2_result        141 non-null    int64
 13  ehdv_type6_result        141 non-null    int64
 14  movi_elisa_result        141 non-null    int64
 15  movi_pcr_result          141 non-null    int64
 16  leukotoxin_lktA_result   141 non-null    int64
 17  tonsular_culture_result  0 non-null      object
 18  female                   141 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(10), object(7)
memory usage: 22.0+ KB

### Duplicates

In [17]:
df[df.duplicated(subset='sample_id', keep=False) == True]

##these currently correspond to the duplicate sample_ids in the master list of samples provided by DWR

,sample_id,species,capture_date,capture_unit,ehdv_result,preg_result,bluetongue_result,adenovirus_result,staging_area,age,comments,ehdv_type1_result,ehdv_type2_result,ehdv_type6_result,movi_elisa_result,movi_pcr_result,leukotoxin_lktA_result,tonsular_culture_result,female
309,WM1101,Mule Deer,2021-12-11,Wasatch-Manti,0,0,0,>=1:4096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
310,WM1101,Mule Deer,2021-12-05,Manti,0,0,0,>=1:4096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
311,WM1102,Mule Deer,2021-12-11,Wasatch-Manti,0,0,0,>=1:4096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
312,WM1102,Mule Deer,2021-12-05,Manti,0,0,0,>=1:4096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
313,WM1103,Mule Deer,2021-12-11,Wasatch-Manti,0,0,0,1:512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
314,WM1103,Mule Deer,2021-12-05,Manti,0,0,0,1:512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
315,WM1104,Mule Deer,2021-12-05,Manti,0,0,0,1:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
316,WM1104,Mule Deer,2021-12-11,Wasatch-Manti,0,0,0,1:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
317,WM1105,Mule Deer,2021-12-05,Manti,0,0,0,>=1:4096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
318,WM1105,Mule Deer,2021-12-11,Wasatch-Manti,0,0,0,>=1:4096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
319,WM1106,Mule Deer,2021-12-05,Manti,1,0,0,1:128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
320,WM1106,Mule Deer,2021-12-11,Wasatch-Manti,1,0,0,1:128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
321,WM1107,Mule Deer,2021-12-05,Manti,0,0,0,1:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
322,WM1107,Mule Deer,2021-12-11,Wasatch-Manti,0,0,0,1:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
323,WM1108,Mule Deer,2021-12-05,Manti,0,0,0,1:512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
324,WM1108,Mule Deer,2021-12-11,Wasatch-Manti,0,0,0,1:512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
325,WM1109,Mule Deer,2021-12-11,Wasatch-Manti,0,0,0,1:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
326,WM1109,Mule Deer,2021-12-05,Manti,0,0,0,1:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
16,BCP1117,Pronghorn,2021-12-13,Book Cliffs,0,0,0,NaN,Willow Creek Overlook,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
17,BCP1117,Pronghorn,2021-12-13,Book Cliffs,0,0,0,NaN,Willow Creek Overlook,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
43,UG1121,Mt Goat,2021-11-22,Uintah,0,0,0,NaN,None,NaN,None,NaN,NaN,NaN,Not detected,Not detected,Not detected,Few,0
44,UG1121,Mt Goat,2021-11-22,Uintah,0,0,0,NaN,None,NaN,"same ID, diff. animal",NaN,NaN,NaN,Not detected,Not detected,Not detected,Few,1

## ML Modeling

Jumping ahead in the process, I want to see about predicting test results given the available data. Since bluetongue is the only test done on all species, I'll simplify to look at that disease.

In [16]:
#make df
bluetongue_df = df[['sample_id', 'species', 'sex', 'capture_date', 'capture_unit', 'bluetongue_result']].set_index('sample_id')

#drop date
bluetongue_df = bluetongue_df.drop(columns='capture_date')

#drop missing values
bluetongue_df = bluetongue_df.dropna()

KeyError: "['sex'] not in index"

In [ ]:
bluetongue_df = pd.get_dummies(bluetongue_df, columns=['species', 'sex', 'capture_unit'], drop_first=True)

In [ ]:
#split into X,y
X, y = bluetongue_df.drop(columns=['bluetongue_result']), bluetongue_df.bluetongue_result

#train test split
X_train, X_test, y_train, y_test = train_test_split(X, y)

#instantiate
model = LogisticRegression()

#fit
model.fit(X_train, y_train)

#predict
y_pred = model.predict(X_test)

In [ ]:
print(classification_report(y_test, y_pred))