# A Look at Wildlife Diseases in Utah

This notebook analyses wildlife disease data from Utah DWR captures in the 2021-2022 fall/winter capture season. Please see [the github repo](https://github.com/epistemetrica/utah_dwr_python) for more info. 

## Project Description

blerb

In [1]:
#import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

## Data Processing

Lab results and DWR capture data were loaded into a SQLite db via the wildlife_ETL.py pipeline.

In [2]:
#load db
engine = create_engine('sqlite:///data/wildlife.db')

#load dfs
bison_df = pd.read_sql_table(con=engine, table_name='bison_table')
deer_df = pd.read_sql_table(con=engine, table_name='deer_table')
elk_df = pd.read_sql_table(con=engine, table_name='elk_table')
moose_df = pd.read_sql_table(con=engine, table_name='moose_table')
pronghorn_df = pd.read_sql_table(con=engine, table_name='pronghorn_table')
sheep_goat_df = pd.read_sql_table(con=engine, table_name='sheep_goat_table')

Let's take a look at the data:

In [3]:
display(bison_df.head())
bison_df.info()

,sample_id,archive_id,species,sex,capture_date,capture_unit,bvd_type1_result,bvd_type2_result,ehdv_result,preg_val,preg_result,bluetongue_result
0,BCB1101,BIS21-018,Bison,Female,2022-02-27,Book Cliffs,Negative,Negative,Positive,0.091,Not pregnant,Detected
1,BCB1102,BIS21-019,Bison,Female,2022-02-26,Book Cliffs,Negative,Negative,Negative,0.749,Pregnant,Not detected
2,BCB1103,BIS21-020,Bison,Female,2022-02-27,Book Cliffs,Negative,Negative,Negative,0.091,Not pregnant,Not detected
3,BCB1104,BIS21-021,Bison,Female,2022-02-26,Book Cliffs,Negative,Negative,Negative,0.718,Pregnant,Not detected
4,BCB1105,BIS21-022,Bison,Male,2022-02-26,Book Cliffs,Negative,Negative,Negative,0.089,Not pregnant,Not detected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          35 non-null     object
 1   archive_id         15 non-null     object
 2   species            33 non-null     object
 3   sex                33 non-null     object
 4   capture_date       33 non-null     datetime64[ns]
 5   capture_unit       33 non-null     object
 6   bvd_type1_result   34 non-null     object
 7   bvd_type2_result   34 non-null     object
 8   ehdv_result        34 non-null     object
 9   preg_val           34 non-null     float64
 10  preg_result        34 non-null     object
 11  bluetongue_result  34 non-null     object
dtypes: datetime64[ns](1), float64(1), object(10)
memory usage: 3.4+ KB

In [4]:
display(deer_df.head())
deer_df.info()

,sample_id,collar_id,species,sex,capture_date,capture_unit,adenovirus_result,ehdv_result,bluetongue_result
0,BC1101,50713.0,Mule Deer,Female,2021-12-11,Book Cliffs,>=1:4096,Negative,Not detected
1,BC1102,50716.0,Mule Deer,Female,2021-12-11,Book Cliffs,1:16,Negative,Not detected
2,BC1103,50714.0,Mule Deer,Female,2021-12-11,Book Cliffs,1:8,Positive,Detected
3,BC1104,50720.0,Mule Deer,Female,2021-12-11,Book Cliffs,>=1:4096,Negative,Not detected
4,BC1105,50722.0,Mule Deer,Male,2021-12-11,Book Cliffs,>=1:4096,Negative,Not detected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          465 non-null    object
 1   collar_id          459 non-null    float64
 2   species            459 non-null    object
 3   sex                459 non-null    object
 4   capture_date       459 non-null    datetime64[ns]
 5   capture_unit       459 non-null    object
 6   adenovirus_result  462 non-null    object
 7   ehdv_result        462 non-null    object
 8   bluetongue_result  461 non-null    object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 32.8+ KB

In [5]:
display(elk_df.head())
elk_df.info()

,sample_id,archive_id,collar_id,species,sex,capture_date,capture_unit,staging_area,age,comments,ehdv_type1_result,ehdv_type1_val,ehdv_type2_result,ehdv_type2_val,ehdv_type6_result,ehdv_type6_val,bvd_result,preg_OD_val,preg_result,bluetongue_result
0,BCE1132,EL21-137,51628.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,23.5,None,Negative,<20,Positve,>1280,Negative,<20,Negative,0.660,Pregnant,Detected
1,BCE1134,EL21-138,46687.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,19.5,None,Negative,<20,Negative,<20,Negative,<20,Negative,0.649,Pregnant,Detected
2,BCE1135,EL21-139,46752.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,10.5,None,Negative,<20,Positive,40,Negative,<20,Negative,0.087,Open,Not detected
3,BCE1136,EL21-140,51622.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,13.5,None,Negative,<20,Negative,<20,Negative,<20,Negative,0.621,Pregnant,Not detected
4,BCE1138,EL21-141,46700.0,Elk,Female,2022-03-07,Book Cliffs,Bryson Canyon,22.5,None,Negative,<20,Negative,<20,Negative,<20,Negative,0.612,Pregnant,Not detected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          149 non-null    object
 1   archive_id         46 non-null     object
 2   collar_id          147 non-null    float64
 3   species            147 non-null    object
 4   sex                147 non-null    object
 5   capture_date       147 non-null    datetime64[ns]
 6   capture_unit       147 non-null    object
 7   staging_area       136 non-null    object
 8   age                146 non-null    float64
 9   comments           9 non-null      object
 10  ehdv_type1_result  146 non-null    object
 11  ehdv_type1_val     146 non-null    object
 12  ehdv_type2_result  146 non-null    object
 13  ehdv_type2_val     146 non-null    object
 14  ehdv_type6_result  146 non-null    object
 15  ehdv_type6_val     146 non-null    object
 16  bvd_result         146 non-null    object
 17  preg_OD_val        143 non-null    float64
 18  preg_result        143 non-null    object
 19  bluetongue_result  146 non-null    object
dtypes: datetime64[ns](1), float64(3), object(16)
memory usage: 23.4+ KB

In [6]:
display(moose_df.head())
moose_df.info()

,sample_id,collar_id,species,sex,capture_date,capture_unit,staging_area,preg_OD_val,preg_result,bluetongue_result
0,PAR1111,50888,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir,0.105,Open,Not detected
1,PAR1112,50891,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir,1.165,Pregnant,Not detected
2,PAR1113,50892,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir,1.180,Pregnant,Not detected
3,PAR1114,50890,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir,1.202,Pregnant,Not detected
4,PAR1115,50889,Moose,Female,2021-12-19,Parley's Summit,Little Dell Reservoir,1.177,Pregnant,Not detected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          5 non-null      object
 1   collar_id          5 non-null      int64
 2   species            5 non-null      object
 3   sex                5 non-null      object
 4   capture_date       5 non-null      datetime64[ns]
 5   capture_unit       5 non-null      object
 6   staging_area       5 non-null      object
 7   preg_OD_val        5 non-null      float64
 8   preg_result        5 non-null      object
 9   bluetongue_result  5 non-null      object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 532.0+ bytes

In [7]:
display(pronghorn_df.head())
pronghorn_df.info()

,sample_id,archive_id,collar_id,species,sex,capture_date,capture_unit,staging_area,bluetongue_result
0,BCP1101,PH21-001,50770.0,Pronghorn,Female,2021-12-01,Book Cliffs,Danish Flat,Detected
1,BCP1102,PH21-002,50776.0,Pronghorn,Female,2021-12-01,Book Cliffs,Danish Flat,None
2,BCP1103,PH21-003,50769.0,Pronghorn,Female,2021-12-01,Book Cliffs,Danish Flat,Detected
3,BCP1104,PH21-015,50768.0,Pronghorn,Male,2021-12-01,Book Cliffs,Danish Flat,Detected
4,BCP1105,PH21-004,50774.0,Pronghorn,Female,2021-12-01,Book Cliffs,Danish Flat,Detected

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          113 non-null    object
 1   archive_id         15 non-null     object
 2   collar_id          83 non-null     float64
 3   species            108 non-null    object
 4   sex                83 non-null     object
 5   capture_date       108 non-null    datetime64[ns]
 6   capture_unit       108 non-null    object
 7   staging_area       50 non-null     object
 8   bluetongue_result  110 non-null    object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 8.1+ KB

In [8]:
display(sheep_goat_df.head())
sheep_goat_df.info()

,sample_id,collar_id,species,sex,capture_date,capture_unit,staging_area,comments,movi_elisa_val,movi_elisa_result,movi_pcr_result,lentivirus_val,lentivirus_result,ehdv_val,ehdv_result,bluetongue_result,leukotoxin_lktA_result,tonsular_culture_result,tonsular_culture_isolate
0,SRS1101,50750.0,Bighorn Sheep,Female,2021-12-03,North San Rafael,Swinging Bridge,2 tonsillar swabs and 2 nasal swabs (SRS1101),80.903,Detected,Not detected,1.366,Negative,103.562,Negative,Negative,Not detected,No Pasteurella isolated.,None
1,SRS1102,50744.0,Bighorn Sheep,Female,2021-12-04,North San Rafael,Swinging Bridge,2 tonsillar swabs and 2 nasal swabs (SRS1102),61.281,Detected,Not detected,0.936,Negative,39.983,Indeterminate,Positive,Not detected,No Pasteurella isolated.,None
2,SRS1103,50749.0,Bighorn Sheep,Female,2021-12-03,North San Rafael,Swinging Bridge,"Short blood, veins flat, worried about heat. 2...",90.380,Detected,Detected,3.908,Negative,65.718,Negative,Positive,Not detected,No Pasteurella isolated.,None
3,SRS1104,50758.0,Bighorn Sheep,Female,2021-12-04,North San Rafael,Swinging Bridge,2 tonsillar swabs and 2 nasal swabs (SRS1104),72.088,Detected,None,2.541,Negative,61.098,Negative,Positive,None,None,None
4,SRS1105,50752.0,Bighorn Sheep,Female,2021-12-03,North San Rafael,Swinging Bridge,"Recapture. Old collar: 75535, 148.307. 2 tonsi...",74.081,Detected,Not detected,5.923,Negative,78.161,Negative,Negative,Not detected,No Pasteurella isolated.,None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sample_id                 77 non-null     object
 1   collar_id                 62 non-null     float64
 2   species                   68 non-null     object
 3   sex                       64 non-null     object
 4   capture_date              66 non-null     datetime64[ns]
 5   capture_unit              66 non-null     object
 6   staging_area              10 non-null     object
 7   comments                  19 non-null     object
 8   movi_elisa_val            77 non-null     float64
 9   movi_elisa_result         77 non-null     object
 10  movi_pcr_result           65 non-null     object
 11  lentivirus_val            77 non-null     float64
 12  lentivirus_result         77 non-null     object
 13  ehdv_val                  77 non-null     float64
 14  ehdv_result               77 non-null     object
 15  bluetongue_result         76 non-null     object
 16  leukotoxin_lktA_result    64 non-null     object
 17  tonsular_culture_result   63 non-null     object
 18  tonsular_culture_isolate  5 non-null      object
dtypes: datetime64[ns](1), float64(4), object(14)
memory usage: 11.6+ KB